
.done-recipes-container {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    background-color: rgb(253, 255, 253);
}

.done-recipe-card-container {
    display: block;
    margin-bottom: 20px;
    align-items: center;
    background-color: rgba(84, 79, 79, 0.623);
    border-radius: 19px;
    text-align: center;
}

.done-recipe-img {
    margin-top: 15px;
    border-radius: 100px;
}

.done-recipe-title {
    font-size: 24px;
    align-self: flex-end; 
    color: wheat;

}
