* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.user {
  margin-top: 5%;
  text-align: center;
}

.user-options {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-options button {
  background-color: rgb(194, 194, 194);
  border: 0;
  border-radius: 6px;
  box-shadow: 3px 3px 3px rgb(196, 196, 196);
  margin-bottom: 5%;
  margin-top: 5%;
  padding: 2%;
  width: 80%;
}
